body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  width: 510px;
  height: 20px;
  padding: 32px;
  margin: 12px;
  text-align: left;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  margin-bottom: 48px;
  margin-top: 15px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 250px;
  height: 20px;
  padding: 32px;
  margin-left: 280px;
  text-align: left;

}